
:root {
    --heading-color: #d64161; 
    --primary-color: #FF5733; 
    --secondary-color: #FFC300; 
    --accent-color: #FF33EC; 
    --bg-color: #2C3333; 
    --text-color: #FFFFFF; 
    --card-bg-color: #333333; 
    --card-text-color: #FFFFFF; 
  }
  h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
  }
  .a{
    text-decoration: none;
  }
  .box {
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .jumbotron {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 3rem;
    border-radius: 0;
  }
  
  
  .project-card .card-text {
    color: var(--card-text-color);
  }
  
  .project-card {
    background-color: var(--card-bg-color); 
    color: var(--card-text-color); 
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  /* Inside Home.module.css or your CSS file */
.external-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px; /* Adjust the padding as needed */
  color: #fff; /* Change the color as desired */
}

  .ascii{
    color: #bbb;
    font-size:10px

  }
  
  
  .custom-tag {
    display: inline-block;
    padding: 4px 8px;
    margin-top: 5px;
    font-size: 14px;
    color: #fff; 
    border-radius: 4px;
    margin-right: 5px; 
  }
  
  .custom-badge {
    font-size: 16px;
    padding: 8px 12px;
    margin-bottom: 8px;
    font-weight: bold;
    border-radius: 8px;
    border-width: 0px;
    color: #fff; 
    
  }
  .small-font {
    font-size: 14px; 
  }


.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.masonry .card {
  width: 100%;
}

.language-badge {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #f7f7f7;
  border-radius: 4px;
}

.language-name {
  margin-right: 5px;
}

.language-proficiency {
  padding: 3px 6px;
  border-radius: 3px;
}

.language-beginner {
  background-color: #f39c12; 
  color: #fff;
}

.language-intermediate {
  background-color: #3498db; 
  color: #fff;
}

.language-advanced {
  background-color: #27ae60; 
  color: #fff;
}

.ctf-card {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.ctf-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff; 
}

.ctf-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
}

.section-heading {
  font-size: 34px; 
  color: #bbb; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}
